# Ignore all Terraform state and lock files recursively
**/*.tfstate
**/*.tfstate.*
**/*.tfstate.backup
**/.terraform/
**/.terraform.lock.hcl
**/*.tfstate.lock.info

# Ignore sensitive variable files
#**/terraform.tfvars 
**/*.auto.tfvars
**/secrets.tfvars

# Crash logs
**/crash.log
**/crash.*.log

# Override files
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json

# CLI config files
.terraformrc
terraform.rc

# example/template files (NOT ignored)
!**/*.example
